#nav-dropdown{
  background-color: rgb(246, 109, 109);
  border-radius: 0.5rem;
  margin: auto;
  /* margin-right: auto; */
  align-items: center;
  padding: 0.5rem;
  /* margin-top: 1rem; */
  color: black;
  /* margin-left:3rem; */
}
 .navbar{
  background-color: rgb(246, 109, 109);
  border-radius: 0.5rem;
  margin: auto;
   margin-left: auto; 
   align-items: center; 
  padding: 0.5rem;
   margin-top: 1rem;
  color: black; 
 } 

#nav-dropdown:hover{
  background-color: rgb(246, 109, 109);
  border-radius: 0.5rem;
  margin: auto;
  padding: 0.5rem;
  /* margin-top: 1rem; */
  color: black;
}

Form{
  width:20rem;
  margin: auto;
  margin-top: 1rem;
  background-color: rgb(246, 109, 109);
  border-radius: 1rem;
  /* padding: 0.2rem; */
}
.mb-3{
  width: auto;
  margin: 1rem;
}
.forms{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.button{
  align-items: center;
  width: auto;
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
  margin: auto;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(239, 152, 135);
  border-color: rgb(239, 152, 135);
  color: black;
  
}
.button:hover{
  background-color: rgb(243, 81, 81);
  border-color: rgb(239, 152, 135);
  color: black;
}
